{% load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>bITEbox WEB Kiosk - {% block pagetitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'webkiosk/styles/main.css' %}?{% now 'U' %}">
  </head>
  <body>
    <header>
      <img src="{% static 'webkiosk/images/bitebox.png' %}">
      <h1>bITEbox</h1>
      <p>bitebitebitebitebite</p>
    </header>

    {% block mainnav%}
    <nav>
      <ul>
        <li><a href="{% url 'webkiosk:food-list' %}">Menu/See Food</a></li>
        <li><a href="{% url 'webkiosk:food-create' %}">Add Food</a></li>
        <li><a href="{% url 'webkiosk:customer-list' %}">See Customers</a></li>
        <li><a href="{% url 'webkiosk:customer-create' %}">Add Customers</a></li>
        <li><a href="{% url 'webkiosk:order-list' %}">See Orders</a></li>
        <li><a href="{% url 'webkiosk:order-create' %}">Add Orders</a></li>
      </ul>
    </nav>
    {% endblock %}
    <main>
        {% block maincontent %}

        {% endblock %}
    </main>
  </body>
</html>

{% if user.is_authenticated %}
<form action="{% url 'webkiosk:logout' %}" method="post" class="logout-form">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% endif %}